<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Callum's bikes</title>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h2 class="pull-left">Callum's Bikes</h2>

        <ul class="pull-right nav nav-tabs">
  		<li><%= link_to 'Home', root_path %></li>
         <li><%= link_to 'Stance', stance_path %></li>
         <li><%= link_to 'Zula', zula_path %></li>
         <li><%= link_to 'xtc', xtc_path %></li>
         <li><%= link_to 'fp2', fp2_path %></li>
       </ul>
      </div>
  </div>



    <div class="jumbotron">
      <div class="container">
        <h2>Pinarello fp2 2011</h2>
        <p>The Pinarello fp2 is the workhorse in my collection. Not living near any decent trails means most of my riding is done on the road. The pinarello gets the job done and has a brilliant color scheme. Its a little bit heavier and a little bit more expensive than other bikes but since i dont race on it im happy with its performance.</p></div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Suspension</h4>
            <p>None but it does have onda forks to absorb road vibrations.</p>
          </div>
          <div class="col-md-4">
            <h4>Componants</h4>
            <p>Uses most componants</p>
          </div>
          <div class="col-md-4">
            <h4>Brakes</h4>
            <p>Uses compagnolo veloce brakes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Drivetrain</h4>
            <p>Uses compagnolo veloce gears</p>
          </div>
          <div class="col-md-6">
            <h4>Wheels</h4>
            <p>Uses most rims with continental tires</p>
          </div>
        </div>
      </div>
    </div>

</body></html>
