<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Callum's bikes</title>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h2 class="pull-left">Callum's Bikes</h2>

        <ul class="pull-right nav nav-tabs">
  		 <li><%= link_to 'Home', root_path %></li>
         <li><%= link_to 'Stance', stance_path %></li>
         <li><%= link_to 'Zula', zula_path %></li>
         <li><%= link_to 'xtc', xtc_path %></li>
         <li><%= link_to 'fp2', fp2_path %></li>
       </ul>
      </div>
  </div>



    <div class="jumbotron">
      <div class="container">
        <h2>Welcome</h2>
        <p>This is a site all about my bikes.</p>
      </div>
    </div>



</body></html>
