<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Callum's bikes</title>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h2 class="pull-left">Callum's Bikes</h2>

        <ul class="pull-right nav nav-tabs">
  		<li><%= link_to 'Home', root_path %></li>
         <li><%= link_to 'Stance', stance_path %></li>
         <li><%= link_to 'Zula', zula_path %></li>
         <li><%= link_to 'xtc', xtc_path %></li>
         <li><%= link_to 'fp2', fp2_path %></li>
       </ul>
      </div>
  </div>



    <div class="jumbotron">
      <div class="container">
        <h2>Giant xtc 1 29er 2012</h2>
        <p>The giant xtc is a brilliant racing bike. The large wheels can go really fast but they tire me out easily. The hardtail design keeps pedalling efficiency high and the steep geometry tries to through you over the handle bars.</p>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Suspension</h4>
            <p>Uses fox up front</p>
          </div>
          <div class="col-md-4">
            <h4>Componants</h4>
            <p>Uses giant connect annd giant sport componants</p>
          </div>
          <div class="col-md-4">
            <h4>Brakes</h4>
            <p>Uses sram x7 hydraulic disc brakes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Drivetrain</h4>
            <p>Uses 2 by 10 sram gears</p>
          </div>
          <div class="col-md-6">
            <h4>Wheels</h4>
            <p>Uses stans rims with schwalbe racing ralph tires.</p>
          </div>
        </div>
      </div>
    </div>


</body></html>
