<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Callum's bikes</title>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h2 class="pull-left">Callum's Bikes</h2>

        <ul class="pull-right nav nav-tabs">
  		<li><%= link_to 'Home', root_path %></li>
         <li><%= link_to 'Stance', stance_path %></li>
         <li><%= link_to 'Zula', zula_path %></li>
         <li><%= link_to 'xtc', xtc_path %></li>
         <li><%= link_to 'fp2', fp2_path %></li>
       </ul>
      </div>
  </div>



    <div class="jumbotron">
      <div class="container">
        <h2>Morewood Zula</h2>
        <p>The morewood zula is a south african bike that is alot better than my first impresion. It is an alloy frame with single pivot suspension and a whooping big price tag. They didnt hold back on the shiny bling on the bike either. Im hoping the more custom design wil give much better performance on the trails.</p>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Suspension</h4>
            <p>Uses rockshox revelations up front and fox rp2 for rear</p>
          </div>
          <div class="col-md-4">
            <h4>Componants</h4>
            <p>Uses loaded xc lite componants</p>
          </div>
          <div class="col-md-4">
            <h4>Brakes</h4>
            <p>Uses shimano xt hydraulic disc brakes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Drivetrain</h4>
            <p>Uses shimano xt gears</p>
          </div>
          <div class="col-md-6">
            <h4>Wheels</h4>
            <p>Uses loaded xc rims with shwalbe nobby nic tires</p>
          </div>
        </div>
      </div>
    </div>



</body></html>
